<app-technology-page
  [technology]="technology"
>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <div>
    <mat-form-field>
      <mat-label>Vibrationsdauer</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="duration">
    </mat-form-field>
    <button
      type="button"
      mat-mini-fab
      color="primary"
      (click)="vibrate()"
    >
      <mat-icon>vibration</mat-icon>
    </button>
  </div>

  <div>
    <button
      type="button"
      mat-raised-button
      (click)="vibratePattern()"
    >
      Vibriere 3 mal
    </button>
  </div>
</ng-template>
