<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <div>
    <mat-form-field>
      <mat-label>Vibrationsdauer (in ms)</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="duration">
    </mat-form-field>
    <button
      mat-raised-button
      matTooltip="Führt die Vibration mit der eingegebenen Dauer durch"
      (click)="vibrate()"
    >
      vibrate()
    </button>
  </div>

  <div>
    <button
      mat-raised-button
      matTooltip="Führt die Vibration in einem vordefinierten Muster durch"
      (click)="vibratePattern()"
    >
      vibrate(PATTERN)
    </button>
  </div>
</ng-template>
