<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <mat-tab-group>
    <mat-tab fxLayout="column" label="BarcodeDetector">
      <div>
        <img
          #barcodeImgElement
          src="./assets/media/qr-code.svg"
          fxFlex="25%" fxFlex.xs="50%" fxFlex.sm="50%"
        >
      </div>
      <div style="margin: 3px">
        <button
          mat-raised-button
          matTooltip="Versucht, Barcodes in dem vorliegenden Bild zu finden"
          (click)="detectBarcode()">
          detect()
        </button>
      </div>
      <div *ngIf="barcodeResults">
        <mat-form-field appearance="fill" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Ergebnis</mat-label>
          <textarea
            matInput
            [value]="barcodeResults | json"
            disabled
          ></textarea>
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab label="FaceDetector">
      <div>
        <img
          #faceImgElement
          src="./assets/media/windows-p74ndnYWRY4-unsplash.jpg"
          fxFlex="50%" fxFlex.xs="75%" fxFlex.sm="75%"
        >
      </div>
      <div style="margin: 3px">
        <button
          mat-raised-button
          matTooltip="Versucht, Gesichter in dem vorliegenden Bild zu finden"
          (click)="detectFaces()">
          detect()
        </button>
      </div>
      <div *ngIf="faceResults">
        <mat-form-field appearance="fill" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-label>Ergebnis</mat-label>
          <textarea
            matInput
            [value]="faceResults | json"
            disabled
          ></textarea>
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>
