<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <div *ngIf="allContents.length > 0" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Bestehender Index</mat-label>
      <textarea
        matInput
        [value]="allContents | json"
        disabled
      ></textarea>
    </mat-form-field>
    <mat-chip-list>
      <mat-chip
        *ngFor="let content of allContents"
        removable
        (removed)="onRemoveContent(content)"
      >
        {{ content.id }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div fxLayout="column">
    <mat-form-field>
      <mat-label>Offline verfügbare Seite</mat-label>
      <mat-select (selectionChange)="onSelectionChanged($event.value)" required>
        <mat-option *ngFor="let dto of predefinedContentDtos" [value]="dto">{{dto.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="newContentDto" fxLayout="column">
      <mat-form-field>
        <mat-label>Titel</mat-label>
        <input matInput type="text" [(ngModel)]="newContentDto.title">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Beschreibung</mat-label>
        <textarea
          matInput
          [(ngModel)]="newContentDto.description"
        ></textarea>
      </mat-form-field>
      <div>
        <button
          matTooltip="Füge einen neuen Eintrag mit den eingegebenen Daten zum Content Index hinzu"
          mat-raised-button
          (click)="addToIndex()"
        >
          add()
        </button>
      </div>
    </div>
  </div>
</ng-template>
