<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <ng-container *ngIf="isSupported else noSupport">
    <div class="flex-table">
      <div>
        <div class="mat-header-cell">Attribut</div>
        <div class="mat-header-cell">Wert</div>
      </div>
      <div>
        <div>OrientationType</div>
        <div>{{orientationType}}</div>
      </div>
      <div>
        <div>Angle</div>
        <div>{{orientationAngle}}</div>
      </div>
    </div>
    <div fxLayout="column wrap" fxLayoutGap="15px" id="locking">
      <span>Bildschirm-Orientierung fixieren (lock()):</span>
      <mat-button-toggle-group (change)="onOrientationLockChange($event.value)">
        <ng-container *ngFor="let type of possibleOrientationLockTypes">
          <mat-button-toggle value="{{type}}">{{type}}</mat-button-toggle>
        </ng-container>
      </mat-button-toggle-group>
      <div>
        <span><strong>Hinweis: </strong>Vollbildmodus muss ggf. aktiviert sein (Fullscreen API)</span>
        <div>
          <button mat-raised-button (click)="activateFullscreen()">
            requestFullscreen()
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noSupport>
    {{ errorNoSupport }}
  </ng-template>
</ng-template>
