<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <ng-container *ngIf="isSupported() else noSupport">
    <div>
      <table>
        <tr>
          <th>Attribut</th>
          <th>Wert</th>
        </tr>
        <tr>
          <td>OrientationType</td>
          <td>{{orientationType}}</td>
        </tr>
        <tr>
          <td>Angle</td>
          <td>{{orientationAngle}}</td>
        </tr>
      </table>
    </div>
    <div fxLayout="column wrap" fxLayoutGap="15px" id="locking">
      <span>Bildschirm-Orientierung fixieren (lock()):</span>
      <mat-button-toggle-group (valueChange)="onValueChange($event)">
        <ng-container *ngFor="let type of possibleOrientationLockTypes">
          <mat-button-toggle value="{{type}}">{{type}}</mat-button-toggle>
        </ng-container>
      </mat-button-toggle-group>
      <div>
        <span><strong>Hinweis: </strong>Vollbildmodus muss ggf. aktiviert sein </span>
        <a mat-stroked-button href="/technology/fullscreen">Zur Fullscreen API</a>
      </div>
    </div>
  </ng-container>
  <ng-template #noSupport>
    {{ errorNoSupport }}
  </ng-template>
</ng-template>
