<div fxLayout="row wrap" fxLayoutGap="10px grid">
  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" *ngFor="let category of (demoOnly ? filteredCategories : categories)">
    <mat-card fxFlex="100%">
      <mat-card-header>
        <mat-card-title>{{category.title}}</mat-card-title>
        <mat-icon *ngIf="category.icon" mat-card-avatar>{{category.icon}}</mat-icon>
      </mat-card-header>

      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let technology of category.technologies">
            <mat-expansion-panel-header class="support {{showCompatibility ? getClassByDetections(technology) : ''}}">
              <mat-panel-title><mat-icon>{{technology.icon}}</mat-icon><a routerLink="/technology/{{technology.routerLink}}">{{technology.name}}</a></mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card-subtitle *ngIf="showDescription">{{technology.description}}</mat-card-subtitle>
            <app-display-feature-detections
              *ngIf="technology.featureDetections.length > 0"
              [featureDetections]="technology.featureDetections"
            ></app-display-feature-detections>
            <div *ngIf="showReferences && technology.references.length > 0" class="references">
              <span class="mat-body-strong">Referenzen:</span>
              <mat-card-actions>
                <ng-container *ngFor="let ref of technology.references">
                  <a mat-stroked-button color="primary" href="{{ref.link}}" target="_blank">{{ref.name}}</a>
                </ng-container>
              </mat-card-actions>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>
