<app-demo-frame
  [technology]="technology"
  shortVersion="shortVersion"
  [featureDetections]="featureDetections"
>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-demo-frame>

<ng-template #demo>
  <button
    type="button"
    mat-raised-button
    (click)="getCurrentPos()"
  >
    getCurrentPosition
  </button>
  <div *ngIf="currentPos">
    <p>{{currentPos.timestamp | date: 'medium'}}</p>
    <div *ngIf="currentPos.coords">
      <a href="https://www.google.com/maps/@?api=1&map_action=map&center={{currentPos.coords.latitude}},{{currentPos.coords.longitude}}" target="_blank">
        Längengrad: {{currentPos.coords.longitude}}, Breitengrad: {{currentPos.coords.latitude}}
      </a>
      <p>Höhenlage: {{currentPos.coords.altitude}}</p>
      <p></p>
      <p>Genauigkeit Breiten- & Längengrad (in m): {{currentPos.coords.accuracy}}</p>
      <p>Genauigkeit Höhenlage (in m): {{currentPos.coords.altitudeAccuracy}}</p>
      <p>Richtung: {{currentPos.coords.heading}}</p>
      <p>Geschwindigkeit (in m/s): {{currentPos.coords.speed}}</p>
    </div>
  </div>
</ng-template>
