<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <div fxLayoutGap="3px">
    <button
      mat-raised-button
      matTooltip="Serielle Geräte anfragen"
      (click)="getPorts()"
    >
      getPorts()
    </button>
    <button
      mat-raised-button
      matTooltip="Gibt Informationen eines seriellen Gerätes zurück"
      (click)="requestPort()"
    >
      requestPort()
    </button>
  </div>
  <div fxLayout="column">
    <mat-form-field appearance="fill">
      <mat-label>Ergebnis (lediglich Ausschnitt des tatsächlichen Rückgabeobjektes)</mat-label>
      <textarea
        matInput
        [value]="result | json"
        disabled
      ></textarea>
    </mat-form-field>
  </div>
</ng-template>
