<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <div>
    <button
      mat-raised-button
      matTooltip="Datei öffnen"
      (click)="onShowOpenFilePicker()"
    >
      showOpenFilePicker()
    </button>
  </div>
  <div fxLayout="column">
    <mat-form-field appearance="fill">
      <mat-label>Texteditor</mat-label>
      <textarea
        matInput
        [(ngModel)]="editor"
      ></textarea>
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        matTooltip="Datei speichern"
        (click)="onShowSaveFilePicker()"
      >
        showSaveFilePicker()
      </button>
      <button
        mat-raised-button
        matTooltip="Ordner auswählen & speichern"
        (click)="onShowDirectoryPicker()"
      >
        showDirectoryPicker()
      </button>
    </div>
  </div>
</ng-template>
