<app-demo-frame
  [technology]="technology"
  shortVersion="shortVersion"
  [featureDetections]="featureDetections"
>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-demo-frame>

<ng-template #demo>
  <span class="mat-subheading-2">AbsoluteOrientationSensor:</span>
  <mat-tab-group>
    <mat-tab label="Web API">
      <ng-container *ngTemplateOutlet="webapi"></ng-container>
    </mat-tab>
    <mat-tab label="Polyfill">
      <ng-container *ngTemplateOutlet="polyfill"></ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-template #webapi>
  <div id="matrix">{{errorNoSensorAvailable}}</div>
</ng-template>

<ng-template #polyfill>
  polyfill
</ng-template>
