<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <div fxLayout="column" fxLayoutGap="15px">
    <section fxLayoutGap="10px">
      <span>Erlaubnis-Status: {{ permissionStatus }}</span>
      <button
        mat-raised-button
        matTooltip="Fordert Erlaubnis für die Ausgabe von Benachrichtigungen an"
        (click)="requestPermission()">
        requestPermission()
      </button>
    </section>

    <section fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>Titel</mat-label>
        <input matInput type="text" [(ngModel)]="notificationTitle">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nachricht</mat-label>
        <textarea matInput [(ngModel)]="notificationBody"></textarea>
      </mat-form-field>
    </section>

    <section fxLayoutGap="3px">
      <span>Zeige Benachrichtigung:</span>
      <button
        mat-raised-button
        matTooltip="Zeigt die Benachrichtigung per window.Notification an"
        (click)="createNewNotification()"
      >
        Notification
      </button>
      <button
        mat-raised-button
        matTooltip="Zeigt die Benachrichtigung per ServiceWorkerRegistration.showNotification() an"
        (click)="createNewServiceWorkerNotification()"
      >
        ServiceWorkerRegistration
      </button>
    </section>
  </div>
</ng-template>
