<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <h4>Am Beispiel vorgefertigter Konfigurationen</h4>
  <mat-tab-group>
    <mat-tab label="decodingInfo()">
      <div fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Eingabe-Konfiguration</mat-label>
          <textarea
            matInput
            [value]="mediaDecodingConfig | json"
            disabled
          ></textarea>
        </mat-form-field>
        <div style="margin: 3px">
          <button
            mat-raised-button
            matTooltip="Erfasse Dekodierungs-Fähigkeiten des Gerätes für dargestellte Konfiguration"
            (click)="getDecodingInfo()"
          >
            decodingInfo()
          </button>
        </div>
        <div class="flex-table">
          <div>
            <div class="mat-header-cell">Attribut</div>
            <div class="mat-header-cell">Wert</div>
          </div>
          <div *ngFor="let a of ['supported', 'smooth', 'powerEfficient']">
            <div>{{a}}</div>
            <div>{{ decodingInfoResult ? decodingInfoResult[a] : undefined }}</div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="encodingInfo()">
      <div fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Eingabe-Konfiguration</mat-label>
          <textarea
            matInput
            [value]="mediaEncodingConfig | json"
            disabled
          ></textarea>
        </mat-form-field>
        <div style="margin: 3px">
          <button
            mat-raised-button
            matTooltip="Erfasse Kodierungs-Fähigkeiten des Gerätes für dargestellte Konfiguration"
            (click)="getEncodingInfo()"
          >
            encodingInfo()
          </button>
        </div>
        <div class="flex-table">
          <div>
            <div class="mat-header-cell">Attribut</div>
            <div class="mat-header-cell">Wert</div>
          </div>
          <div *ngFor="let a of ['supported', 'smooth', 'powerEfficient']">
            <div>{{a}}</div>
            <div>{{ encodingInfoResult ? encodingInfoResult[a] : undefined }}</div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>
