<mat-card>
  <mat-card-header>
    <mat-card-title>Informationen zu dieser Anwendung</mat-card-title>
    <mat-card-subtitle>
      Diese Anwendung ist im Rahmen der Bachelor-Thesis
      <span class="mat-body-strong">"Evaluation der Fähigkeit aktueller Webtechnologien zur plattformübergreifenden Erhöhung der Nativität"</span>
      von René Sahin Nienaber in Kooperation mit der adesso SE an der Fachhochschule Dortmund entstanden.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="infos" fxLayout="column" fxLayoutGap="5px">
      <div>
        <div>Thema:</div>
        <div>Evaluation der Fähigkeit aktueller Webtechnologien zur plattformübergreifenden Erhöhung der Nativität</div>
        <div>(Evaluation of the Capability of current Web Technologies to increase Native Cross-Platform User Experience)</div>
      </div>
      <div>
        <div>Autor & Entwickler:</div>
        <div>René Sahin Nienaber</div>
      </div>
      <div>
        <div>Betreuer & Prüfer:</div>
        <div>Prof. Dr. Thomas Königsmann (FH Dortmund)</div>
        <div>Sebastian Herbermann (adesso SE)</div>
      </div>
    </div>
    <mat-card-actions>
      <a mat-stroked-button target="_blank" href="https://github.com/renenienaber/ba-native-webtechnologien">
        GitHub-Repository
      </a>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
  <button
    class="export-button"
    type="button"
    mat-raised-button
    (click)="exportTechnologySupport()"
  >
    Export Browser-Support
  </button>
