<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <h4>Am Beispiel eines HTMLVideoElement (erbt von HTMLMediaElement)</h4>
  <div fxLayout="column" fxLayoutGap="20px">
    <section fxLayout="column">
      <span>Quelle:</span>
      <div>
        <video
          fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%"
          #sourceVideoElement
          playsinline
          controls
          (canplay)="useInputVideoForOutputVideo()"
        >
          <source src="./assets/media/file_example_MP4_640_3MG.mp4" type="video/mp4">
        </video>
      </div>
    </section>
    <section fxLayout="column">
      <span>Ausgabe: {{ videoElement.srcObject ? '' : errorNoSupport}}</span>
      <div>
        <video
          fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%"
          #videoElement
          playsinline
          autoplay
        ></video>
      </div>
    </section>
  </div>
</ng-template>
