<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <h4>Am Beispiel von Textinhalten</h4>
  <div>
    <button mat-raised-button (click)="readText()">readText()</button>
    <button mat-raised-button (click)="writeText()">writeText()</button>
    <div>
      <mat-form-field appearance="fill" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-label>Zwischenablage-Text</mat-label>
        <textarea
          matInput
          [(ngModel)]="clipboardText"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</ng-template>
