<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <h4>Am Beispiel von Textinhalten</h4>
  <div fxLayout="column">
    <div fxLayoutGap="3px">
      <button
        mat-raised-button
        matTooltip="Lese Text aus Zwischenablage"
        (click)="readText()"
      >
        readText()
      </button>
      <button
        mat-raised-button
        matTooltip="Schreibe Text in Zwischenablage"
        (click)="writeText()"
      >
        writeText()
      </button>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Zwischenablage-Text</mat-label>
      <textarea
        matInput
        [(ngModel)]="clipboardText"
      ></textarea>
    </mat-form-field>
  </div>
</ng-template>
