<app-demo-frame
  [technology]="technology"
  shortVersion="shortVersion"
  [featureDetections]="featureDetections"
>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-demo-frame>

<ng-template #demo>
  <mat-form-field>
    <mat-label>Duration</mat-label>
    <input matInput type="number" min="0" [(ngModel)]="duration">
  </mat-form-field>
  <button
    type="button"
    mat-raised-button
    (click)="vibrate()"
  >
    Vibrate
  </button>
  <button
    type="button"
    mat-raised-button
    (click)="vibratePattern()"
  >
    Vibrate 3 times
  </button>
</ng-template>
