<app-demo-frame
  [technology]="technology"
  shortVersion="shortVersion"
  [featureDetections]="featureDetections"
>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-demo-frame>

<ng-template #demo>
  <div class="permission">
    <span>Erlaubnis Status: {{ permissionStatus }}</span>
    <button mat-raised-button (click)="requestPermission()">
      Erlaubnis anfordern
    </button>
  </div>

  <div class="notificationValues">
    <mat-form-field appearance="fill">
      <mat-label>Titel</mat-label>
      <input matInput type="text" [(ngModel)]="notificationTitle">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nachricht</mat-label>
      <textarea matInput [(ngModel)]="notificationBody"></textarea>
    </mat-form-field>
  </div>

  <div>
    <button
      mat-raised-button
      (click)="createNewNotification()"
    >
      window.Notification
    </button>
    <button
      mat-raised-button
      (click)="createNewServiceWorkerNotification()"
    >
      window.ServiceWorkerRegistration
    </button>
  </div>
</ng-template>
