<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <div class="container">
    <button
      type="button"
      mat-raised-button
      (click)="createCredential()"
    >
      create PublicKey
    </button>
    <mat-form-field appearance="fill">
      <mat-label>Public Key</mat-label>
      <textarea
        matInput
        [value]="getCredentialAsString(tempCredential)"
        disabled
      ></textarea>
    </mat-form-field>
    <button
      type="button"
      mat-raised-button
      (click)="getCredential()"
      [disabled]="!tempCredential"
    >
      get PublicKey
    </button>
  </div>
</ng-template>
