<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <div class="data">
    <mat-form-field appearance="fill">
      <mat-label>user.name</mat-label>
      <input matInput type="text" [(ngModel)]="createPublicKey.user.name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>user.displayName</mat-label>
      <input matInput type="text" [(ngModel)]="createPublicKey.user.displayName">
    </mat-form-field>
  </div>
  <button
    type="button"
    mat-raised-button
    (click)="createCredential()"
  >
    create()
  </button>
  <button
    type="button"
    mat-raised-button
    (click)="getCredential()"
  >
    getCredential()
  </button>
</ng-template>
