<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="start start">
    <button
      type="button"
      matTooltip="Legt eine Authentifikationsmethode fest und erstellt einen öffentlichen Schlüssel dafür"
      mat-raised-button
      (click)="createCredential()"
    >
      create()
    </button>
    <button
      type="button"
      matTooltip="Fragt den öffentlichen Schlüssel unter Nutzung der Authentifikationsmethode an"
      mat-raised-button
      (click)="getCredential()"
      [disabled]="!tempCredential"
    >
      get()
    </button>
  </div>
</ng-template>
