.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  margin: 10px;
}

mat-icon {
  margin-right: 5px;
}

.active {
  font-weight: bold;
  color: #673AB7;
}

