<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="about" routerLinkActive="active">
        <mat-icon>help</mat-icon>Informationen
      </a>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let technology of TECHNOLOGIES">
        <a mat-list-item routerLink="technology/{{technology.routerLink}}" routerLinkActive="active">
          <mat-icon *ngIf="technology.icon">{{technology.icon}}</mat-icon>
          {{technology.name}}
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Native Webtechnologien</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
