<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <button
    mat-raised-button
    matTooltip="Erfasse Informationen"
    (click)="getDevicePosture()"
  >
    deviceMemory
  </button>
  <div class="flex-table">
    <div>
      <div class="mat-header-cell">Attribut</div>
      <div class="mat-header-cell">Wert</div>
    </div>
    <div>
      <div>Ausrichtungstyp</div>
      <div>{{ devicePosture?.type }}</div>
    </div>
  </div>
</ng-template>
