<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <button
    mat-raised-button
    matTooltip="Fonts anfragen"
    (click)="getFonts()"
  >
    query()
  </button>
  <div *ngIf="result.length > 0" fxLayout="column">
    <mat-form-field appearance="fill">
      <mat-label>Ergebnis (enthält nur einen Ausschnitt der resultierenden Font-Informationen)</mat-label>
      <textarea
        matInput
        [value]="result | json"
        disabled
      ></textarea>
    </mat-form-field>
  </div>
</ng-template>
