<app-technology-page
  [technology]="technology"
>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <button
    type="button"
    mat-raised-button
    (click)="getCurrentPosition()"
  >
    getCurrentPosition
  </button>
  <button
    type="button"
    mat-raised-button
    (click)="watchPosition()"
    [disabled]="!!watchId"
  >
    watchPosition
  </button>
  <button
    type="button"
    mat-raised-button
    (click)="clearWatch()"
    [disabled]="!watchId"
  >
    clearWatch
  </button>
  <div *ngIf="currentPos">
    <p>{{currentPos.timestamp | date: 'medium'}}</p>
    <div *ngIf="currentPos.coords">
      <a href="https://www.google.com/maps/@?api=1&map_action=map&center={{currentPos.coords.latitude}},{{currentPos.coords.longitude}}" target="_blank">
        Längengrad: {{currentPos.coords.longitude}}, Breitengrad: {{currentPos.coords.latitude}}
      </a>
      <table>
        <tr>
          <th>Attribut</th>
          <th>Wert</th>
        </tr>
        <tr>
          <td>Höhenlage</td>
          <td>{{currentPos.coords.altitude | number: '1.0-3'}}</td>
        </tr>
        <tr>
          <td>Genauigkeit Breiten- & Längengrad (in m)</td>
          <td>{{currentPos.coords.accuracy | number: '1.0-3'}}</td>
        </tr>
        <tr>
          <td>Genauigkeit Höhenlage (in m)</td>
          <td>{{currentPos.coords.altitudeAccuracy | number: '1.0-3'}}</td>
        </tr>
        <tr>
          <td>Richtung</td>
          <td>{{currentPos.coords.heading | number: '1.0-3'}}</td>
        </tr>
        <tr>
          <td>Geschwindigkeit (in m/s)</td>
          <td>{{currentPos.coords.speed | number: '1.0-3'}}</td>
        </tr>
      </table>
    </div>
  </div>
</ng-template>
