.feature-detection {
  padding: 20px;
  margin: 5px;
}
.feature-detection mat-icon {
  float: right;
}

.feature-detection.support {
  background-color: lightgreen;
}

.feature-detection.no-support {
  background-color: rgba(255, 0, 0, 0.75);
}

.demo-card {
  margin-top: 10px;
}

.demo-card mat-card-content {
  margin-top: 20px;
}
