<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>{{technology.icon}}</mat-icon>
    <mat-card-title>{{technology.name}}</mat-card-title>
    <mat-card-subtitle>{{technology.description}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="technology.references.length > 0">
      <span class="mat-body-strong">Referenzen:</span>
      <mat-card-actions>
        <ng-container *ngFor="let ref of technology.references">
          <a mat-stroked-button color="primary" href="{{ref.link}}" target="_blank">{{ref.name}}</a>
        </ng-container>
      </mat-card-actions>
    </div>

    <div *ngIf="featureDetections.length > 0">
      <span class="mat-body-strong">Browser-Support:</span>
      <div *ngFor="let check of featureDetections" class="mat-elevation-z1 feature-detection {{check.detection ? 'support' : 'no-support'}}">
        <span>{{check.apiObject}}</span>
        <mat-icon>{{check.detection ? 'check_circle' : 'error'}}</mat-icon>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="demo-card">
  <mat-card-title>Demonstration</mat-card-title>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
