<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <span>Screen Wake Lock ist <strong>{{wakeLockSentinel && !wakeLockSentinel.released ? 'aktiv' : 'inaktiv'}}</strong></span>
  <div>
    <button
      mat-raised-button
      matTooltip="Aktiviere Wake Lock"
      (click)="requestWakeLock()"
    >
      request()
    </button>
    <button
      mat-raised-button
      matTooltip="Deaktiviere Wake Lock"
      [disabled]="!wakeLockSentinel"
      (click)="releaseWakeLock()"
    >
      release()
    </button>
  </div>
</ng-template>
