mat-panel-title mat-icon {
  margin-right: 5px;
}

.compatibility-spinner {
  position: absolute;
  top: 8px;
  right: 10px;
}

.compatibility-spinner mat-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.references {
  margin-top: 20px;
}
