<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <div>
    <video #videoElement fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" controls>
      <source src="./assets/media/file_example_MP4_640_3MG.mp4" type="video/mp4">
    </video>
  </div>
  <button
    mat-raised-button
    matTooltip="Schaltet den Bild-im-Bild-Modus ein (requestPictureInPicture()) bzw. aus (exitPictureInPicture())"
    (click)="togglePicInPic()"
  >
    Picture-in-Picture
  </button>
</ng-template>
