<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <div fxLayout="column" fxLayoutGap="15px">
    <section fxLayoutGap="15px">
      <button
        mat-raised-button
        matTooltip="Starte Empfang für OTP-SMS"
        (click)="startOTPRetrieval()"
        [disabled]="isActive"
      >
        get()
      </button>
      <strong>{{isActive ? 'Warte auf OTP per SMS...' : 'Empfang für OTP-SMS wurde nicht gestartet.'}}</strong>
    </section>

    <section>
      <form #formElement (submit)="onFormSubmit()">
        <input #inputElement autocomplete="one-time-code" required>
        <input type="submit">
      </form>
    </section>

    <section>
      <span>
        Schicke (während diese Seite geöffnet ist) eine SMS an dieses Endgerät, welche mit der folgenden Zeile endet:
      </span>
      <pre><code>@{{hosturl}} #{{CODE}}</code></pre>
    </section>
  </div>
</ng-template>
