<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <button
    mat-raised-button
    matTooltip="Starte Sensor"
    (click)="initAndStartSensor()"
  >
    start()
  </button>
  <div class="flex-table">
    <div>
      <div class="mat-header-cell">Attribut</div>
      <div class="mat-header-cell">Wert</div>
    </div>
    <div *ngFor="let c of ['distance', 'max']">
      <div>{{c}}</div>
      <div>{{ (results ? results[c] : undefined) | number: '1.1-1' }} cm</div>
    </div>
    <div>
      <div>near</div>
      <div>{{ results }}</div>
    </div>
  </div>
</ng-template>
