<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <mat-tab-group>
    <mat-tab label="DeviceOrientationEvent">
      <button mat-raised-button (click)="startOrientationListening()">
        starte EventListener
      </button>
      <section>
        <div class="flex-table">
          <div>
            <div class="mat-header-cell">Attribut</div>
            <div class="mat-header-cell">Wert</div>
          </div>
          <div>
            <div>Alpha (Richtung)</div>
            <div>{{orientationResults?.alpha}}°</div>
          </div>
          <div>
            <div>Beta (Vorne/Hinten)</div>
            <div>{{orientationResults?.beta}}°</div>
          </div>
          <div>
            <div>Gamma (Links/Rechts)</div>
            <div>{{orientationResults?.gamma}}°</div>
          </div>
          <div>
            <div>Absolut</div>
            <div>{{orientationResults?.absolute}}</div>
          </div>
        </div>
      </section>
    </mat-tab>
    <mat-tab fxLayout="column" label="DeviceMotionEvent">
      <button mat-raised-button (click)="startMotionListening()">
        starte EventListener
      </button>
      <section>Intervall: {{ deviceMotionEvent?.interval }} ms</section>
      <div>
        <section>
          <strong>Beschleunigung (acceleration)</strong>
          <div class="flex-table">
            <div>
              <div class="mat-header-cell">Attribut</div>
              <div class="mat-header-cell">Wert</div>
            </div>
            <div *ngFor="let c of ['x', 'y', 'z']">
              <div>{{c}}-Achse</div>
              <div>{{deviceMotionEvent?.acceleration ? deviceMotionEvent.acceleration[c] : undefined | number: '1.1-1'}} m/s²</div>
            </div>
          </div>
        </section>
        <section>
          <strong>Beschleunigung inkl. Gravitation (accelerationIncludingGravity)</strong>
          <div class="flex-table">
            <div>
              <div class="mat-header-cell">Attribut</div>
              <div class="mat-header-cell">Wert</div>
            </div>
            <div *ngFor="let c of ['x', 'y', 'z']">
              <div>{{c}}-Achse</div>
              <div>{{deviceMotionEvent?.accelerationIncludingGravity ? deviceMotionEvent.accelerationIncludingGravity[c] : undefined | number: '1.1-1'}} m/s²</div>
            </div>
          </div>
        </section>
        <section>
          <strong>Rotationsrate (rotationRate)</strong>
          <div class="flex-table">
            <div>
              <div class="mat-header-cell">Attribut</div>
              <div class="mat-header-cell">Wert</div>
            </div>
            <div>
              <div>Alpha (Richtung)</div>
              <div>{{deviceMotionEvent?.rotationRate?.alpha | number: '1.1-1'}}°/s</div>
            </div>
            <div>
              <div>Beta (Vorne/Hinten)</div>
              <div>{{deviceMotionEvent?.rotationRate?.beta | number: '1.1-1'}}°/s</div>
            </div>
            <div>
              <div>Gamma (Links/Rechts)</div>
              <div>{{deviceMotionEvent?.rotationRate?.gamma | number: '1.1-1'}}°/s</div>
            </div>
          </div>
        </section>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>
