<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <p><strong>Hinweis</strong>: Es wird keine tatsächliche Zahlung durchgeführt</p>

  <div fxLayout="column" fxLayoutGap="20px">
    <section fxLayout="column" fxLayoutGap="5px">
      <label>Gesamtsumme (details.total):</label>
      <div fxLayoutGap="5px">
        <mat-form-field>
          <mat-label>Label</mat-label>
          <input matInput type="text" [(ngModel)]="details.total.label">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Betrag</mat-label>
          <input matInput type="number" min="0" step="0.01" [(ngModel)]="details.total.amount.value">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Währung</mat-label>
          <mat-select [(ngModel)]="details.total.amount.currency">
            <mat-option value="EUR">EUR</mat-option>
            <mat-option value="USD">USD</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </section>

    <section>
      <button
        mat-raised-button
        matTooltip="Zeigt eine Zahlungsanfrage mit den eingegebenen Daten an"
        (click)="onShowRequest()"
      >
        show()
      </button>
    </section>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Zusammensetzung (details.displayItems)</mat-expansion-panel-header>
        <div fxLayout="column">
          <div class="display-item" *ngFor="let displayItem of details.displayItems">
            <div fxLayoutGap="5px">
              <mat-form-field>
                <mat-label>Label</mat-label>
                <input matInput type="text" [(ngModel)]="displayItem.label">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Betrag</mat-label>
                <input matInput type="number" min="0" step="0.01" [(ngModel)]="displayItem.amount.value">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Währung</mat-label>
                <mat-select [(ngModel)]="displayItem.amount.currency">
                  <mat-option value="EUR">EUR</mat-option>
                  <mat-option value="USD">USD</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>
