<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <h4>Am Beispiel von .txt-Dateien</h4>
  <div fxLayout="column">
    <input type="file" accept=".txt" (change)="onFileInputChanged($event.target)">
    <div *ngIf="fileList && result === undefined">
      Datei wird nicht unterstützt! Bitte eine .txt-Datei auswählen.
    </div>
    <mat-form-field *ngIf="result !== undefined" appearance="fill">
      <mat-label>Dateiinhalt</mat-label>
      <textarea
        matInput
        [value]="result"
        disabled
      ></textarea>
    </mat-form-field>
  </div>
</ng-template>
