<app-demo-frame
  [technology]="technology"
  shortVersion="shortVersion"
  [featureDetections]="featureDetections"
>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-demo-frame>

<ng-template #demo>
  <div>
    <span class="mat-body-strong">Koordinaten:</span>
    <p>Alpha (Richtung):<span id="alpha">null</span></p>
    <p>Beta (Vorne/Hinten): <span id="beta">null</span></p>
    <p>Gamma (Links/Rechts): <span id="gamma">null</span></p>
    <p>Absolut: <span id="absolute">null</span></p>
  </div>
  <div class="cube">
    <div class="face one">1</div>
    <div class="face two">2</div>
    <div class="face three">3</div>
    <div class="face four">4</div>
    <div class="face five">5</div>
    <div class="face six">6</div>
  </div>
</ng-template>
