<app-demo-frame
  [technology]="technology"
  [featureDetections]="featureDetections"
>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-demo-frame>

<ng-template #demo>
  <ng-container *ngIf="featureDetections[0]?.detection else noSupport">
    <div>
      <table>
        <tr>
          <th>Attribut</th>
          <th>Wert</th>
        </tr>
        <tr>
          <td>Alpha (Richtung)</td>
          <td id="alpha">?</td>
        </tr>
        <tr>
          <td>Beta (Vorne/Hinten)</td>
          <td id="beta">?</td>
        </tr>
        <tr>
          <td>Gamma (Links/Rechts)</td>
          <td id="gamma">?</td>
        </tr>
        <tr>
          <td>Absolut</td>
          <td id="absolute">?</td>
        </tr>
      </table>
    </div>
  </ng-container>
</ng-template>

<ng-template #noSupport>
  <span>{{errorNoDeviceOrientationEvent}}</span>
</ng-template>
