<section class="top-row">
  <mat-form-field class="search-form" appearance="outline">
    <mat-label>Suche</mat-label>
    <input
      matInput
      type="search"
      [(ngModel)]="searchTerm"
    >
    <mat-icon matPrefix>search</mat-icon>
    <button *ngIf="searchTerm"
            matSuffix
            mat-icon-button
            aria-label="Löschen"
            (click)="searchTerm=''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="options">
    <button mat-button [mat-menu-trigger-for]="menuOptions">
      <mat-icon>tune</mat-icon>
      <span fxHide.xs="true" fxHide.sm="true">Anzeigeeinstellungen</span>
    </button>
    <mat-menu #menuOptions="matMenu">
      <button mat-menu-item>
        <mat-slide-toggle [(ngModel)]="dashboardSettings.showCompatibility" (change)="onSettingsChanged()" (click) = "$event.stopPropagation()">
          <mat-icon>check_circle_outline</mat-icon>
          <span>Support</span>
        </mat-slide-toggle>
      </button>
      <button mat-menu-item>
        <mat-slide-toggle [(ngModel)]="dashboardSettings.showDescription" (change)="onSettingsChanged()" (click) = "$event.stopPropagation()">
          <mat-icon>info</mat-icon>
          <span>Beschreibung</span>
        </mat-slide-toggle>
      </button>
      <button mat-menu-item>
        <mat-slide-toggle [(ngModel)]="dashboardSettings.showReferences" (change)="onSettingsChanged()" (click) = "$event.stopPropagation()">
          <mat-icon>link</mat-icon>
          <span>Referenzen</span>
        </mat-slide-toggle>
      </button>
    </mat-menu>
  </div>
</section>



<app-categories
  [showCompatibility]="dashboardSettings.showCompatibility"
  [showDescription]="dashboardSettings.showDescription"
  [showReferences]="dashboardSettings.showReferences"
  [searchTerm]="searchTerm"
></app-categories>
