<section class="top-row">
  <mat-form-field class="search-form" appearance="outline">
    <mat-label>Suche</mat-label>
    <input
      matInput
      type="search"
      [(ngModel)]="searchTerm"
    >
    <mat-icon matPrefix>search</mat-icon>
    <button *ngIf="searchTerm"
            matSuffix
            mat-icon-button
            aria-label="Löschen"
            (click)="searchTerm=''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="options">
    <mat-slide-toggle [(ngModel)]="showCompatibility">Support</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="showDescription">Beschreibung</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="showReferences">Referenzen</mat-slide-toggle>
  </div>
</section>



<app-categories
  [showCompatibility]="showCompatibility"
  [showDescription]="showDescription"
  [showReferences]="showReferences"
  [searchTerm]="searchTerm"
></app-categories>
