<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <div fxLayout="column" fxLayoutGap="10px">
    <div>
      <span>Anzufragende Kontakt-Eigenschaften:</span>
      <ul>
        <li *ngFor="let property of possibleContactProperties">
          <mat-checkbox
            color="primary"
            [(ngModel)]="property.checked"
            [disabled]="!property.enabled"
          >
            {{ property.property }}
          </mat-checkbox>
        </li>
      </ul>
    </div>
    <mat-slide-toggle color="primary" [(ngModel)]="multiple">
      Mehrfachauswahl
    </mat-slide-toggle>
    <div>
      <button
        mat-raised-button
        matTooltip="Öffne Auswahlfenster für eingestellte Parameter"
        (click)="selectContacts()"
      >
        select()
      </button>
    </div>
    <mat-form-field *ngIf="result" appearance="fill">
      <mat-label>Ergebnis</mat-label>
      <textarea
        matInput
        [value]="result | json"
        disabled
      ></textarea>
    </mat-form-field>
  </div>
</ng-template>
