<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <div>
    <span>Anzufragende Kontakt-Eigenschaften:</span>
    <ul>
      <li *ngFor="let property of possibleContactProperties">
        <mat-checkbox
          color="primary"
          [(ngModel)]="property.checked"
          [disabled]="!property.enabled"
        >
          {{ property.property }}
        </mat-checkbox>
      </li>
    </ul>
  </div>
  <div>
    <mat-slide-toggle color="primary" [(ngModel)]="multiple">
      Mehrfachauswahl
    </mat-slide-toggle>
  </div>
  <button mat-raised-button (click)="selectContacts()">
    select()
  </button>
  <div *ngIf="result">
    <mat-form-field appearance="fill" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-label>Ergebnis</mat-label>
      <textarea
        matInput
        [value]="result | json"
        disabled
      ></textarea>
    </mat-form-field>
  </div>
</ng-template>
