<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <ng-container>
    <div>
      <span>Anzufragende Kontakt-Eigenschaften:</span>
      <ul>
        <li *ngFor="let property of possibleContactProperties">
          <mat-checkbox
            color="primary"
            [(ngModel)]="property.checked"
            [disabled]="!property.enabled"
          >
          {{ property.property }}
          </mat-checkbox>
        </li>
      </ul>
    </div>
    <div>
      <mat-slide-toggle color="primary" [(ngModel)]="multiple">
        Mehrfachauswahl
      </mat-slide-toggle>
    </div>
    <button mat-raised-button (click)="selectContacts()">
      select()
    </button>
  </ng-container>
</ng-template>
