<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <mat-tab-group>
    <mat-tab label="AbsoluteOrientationSensor">
      <button mat-raised-button (click)="initAbsolute()">start()</button>
      <div *ngIf="absoluteSensor">
        <div *ngFor="let el of absoluteMat4">
          {{ el | number }}
        </div>
      </div>
    </mat-tab>
    <mat-tab label="RelativeOrientationSensor">
      <button mat-raised-button (click)="initRelative()">start()</button>
      <div>{{relativeResponse}}</div>
    </mat-tab>
  </mat-tab-group>
</ng-template>
