<app-technology-page>
  <ng-container *ngTemplateOutlet="demo"></ng-container>
</app-technology-page>

<ng-template #demo>
  <div fxLayout="column" fxLayoutGap="10px">
    <span>Quelle:</span>
    <button mat-raised-button (click)="getVideo()">
      getUserMedia()
    </button>
    <div>
      <video
        fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%"
        #videoElement
        [hidden]="!videoElement.srcObject"
        playsinline
        autoplay
        [muted]="'muted'"
      >
      </video>
    </div>
    <div *ngIf="videoElement.srcObject">
      <button mat-raised-button *ngIf="!isRecording" [disabled]="!mediaRecorder" (click)="startRecording()">
        Starte Aufnahme
      </button>
      <button mat-raised-button *ngIf="isRecording" [disabled]="!mediaRecorder" (click)="stopRecording()">
        Stoppe Aufnahme
      </button>
    </div>
    <span>Ausgabe:</span>
    <div>
      <video
        fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%"
        #recordedVideoElement
        playsinline
        autoplay
        loop
        controls
      ></video>
    </div>
  </div>
</ng-template>
